<h1>Bienvenue sur la page de <%= @author.first_name %> <%= @author.last_name %></h1>
<p>Nom : <%= @author.last_name %></p>
<p>Prénom : <%= @author.first_name %></p>
<p>Description : <%= @author.description %></p>
<p>e-mail : <%= @author.email %></p>
<p>Âge : <%= @author.age %></p>
<p>Ville : <%= link_to @author.city.name, city_path(@author.city_id) %></p>